@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Tab-Navigation focus ring */
	:where(a, button):focus-visible {
		@apply outline-none;
	}
	a:focus-visible {
		@apply rounded text-darkCyan outline-3 outline-offset-3 outline-darkCyan;
	}

	/* Remove the “datalist” drop-down arrow from inputs */
	input[list]::-webkit-list-button,
	input[list]::-webkit-calendar-picker-indicator {
		@apply !hidden;
	}

	/* Remove the “x” icon from search inputs */
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		@apply appearance-none;
	}

	/* Custom scrollbar */
	@media (min-width: theme('screens.lg')) {
		main::-webkit-scrollbar {
			@apply w-2;
		}
		main::-webkit-scrollbar-thumb {
			@apply rounded-full bg-fountainBlue hover:bg-darkCyan/80 active:bg-darkCyan;
		}
		main::-webkit-scrollbar-track {
			@apply rounded-full bg-steel/20;
		}
		main::-webkit-scrollbar-button {
			@apply bg-cover bg-no-repeat;
			background-size: 13.5px;
		}
		main::-webkit-scrollbar-button:vertical:decrement {
			background-position: -3.1px 1px;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiM3YjhlOGUiIGQ9Ik02IDE2YTEgMSAwIDAgMS0uOC0xLjZsNi04YTEgMSAwIDAgMSAxLjYgMGw2IDhBMSAxIDAgMCAxIDE4IDE2SDZaIi8+PC9zdmc+');
		}
		main::-webkit-scrollbar-button:vertical:increment {
			background-position: -2.5px 0px;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiM3YjhlOGUiIGQ9Ik02IDhhMSAxIDAgMCAwLS44IDEuNmw2IDhhMSAxIDAgMCAwIDEuNiAwbDYtOEExIDEgMCAwIDAgMTggOEg2WiIvPjwvc3ZnPg==');
		}
		@-moz-document url-prefix() {
			/* Firefox-Specific */
			main {
				@apply !mx-0;
				scrollbar-width: thin;
				scrollbar-color: theme('colors.fountainBlue') theme('colors.lilacWhite');
			}
		}
	}
}

@layer utilities {
	.divide-x-disc > li:not(:first-child)::before {
		@apply mx-2.5 inline-block h-1 w-1 rounded-full bg-steel/60 align-middle content-[''] lg:mx-4;
	}

	.scrollbar-stable-both {
		scrollbar-gutter: stable both-edges;
	}
}

/* prettier-ignore */
@font-face {
	font-family: 'League Spartan';
	font-weight: 400;
	unicode-range: U+0020-030A;
	src: local('LeagueSpartan-Regular'), local(League Spartan Regular), url('../fonts/league-spartan-400.woff2');
}
@font-face {
	font-family: 'League Spartan';
	font-weight: 700;
	unicode-range: U+0020-030A;
	src: local('LeagueSpartan-Bold'), local(League Spartan Bold), url('../fonts/league-spartan-700.woff2');
}
