@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Tab-Navigation focus ring */
	:where(a, button):focus-visible {
		@apply outline-none;
	}
	a:focus-visible {
		@apply outline-offset-3 rounded text-darkCyan outline-3 outline-darkCyan;
	}

	/* Remove the “datalist” drop-down arrow from inputs */
	input[list]::-webkit-list-button,
	input[list]::-webkit-calendar-picker-indicator {
		@apply !hidden;
	}

	/* Remove the “x” icon from search inputs */
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		@apply appearance-none;
	}
}

@layer utilities {
	.divide-x-disc > li:not(:first-child)::before {
		@apply mx-2.5 inline-block h-1 w-1 rounded-full bg-steel/60 align-middle content-[''] lg:mx-4;
	}
}

/* prettier-ignore */
@font-face {
	font-family: 'League Spartan';
	font-weight: 400;
	unicode-range: U+0020-030A;
	src: local('LeagueSpartan-Regular'), local(League Spartan Regular), url('../fonts/league-spartan-400.woff2');
}
@font-face {
	font-family: 'League Spartan';
	font-weight: 700;
	unicode-range: U+0020-030A;
	src: local('LeagueSpartan-Bold'), local(League Spartan Bold), url('../fonts/league-spartan-700.woff2');
}
